{% extends 'auths/base.html' %}

{% block title %}Registration{% endblock title %}

{% block content %}
<div style="width: 100vw; height: 100vh; margin: 0; display: flex; justify-content: center; align-items: center; background: rgb(179,163,105); background: linear-gradient(225deg, rgba(179,163,105,1) 9%, rgba(0,48,87,1) 100%);">
    <div style="background: white; padding: 18px; border-radius: 8px;">
        <form action="{% url 'auths:register' %}" method="post">
            {% csrf_token %}
            <div style="padding-top: 12px; padding-bottom: 18px; font-size: 48px; font-weight: bold; width: 100%; display: flex; justify-content: center;">Registration</div>
            <div style="display: flex; flex-direction: column; padding: 12px; gap: 24px; font-size: 24px;">
                <div style="display: flex; flex-direction: column;">
                    Username
                    <input type="text" name="username" id="username" placeholder="Username" size="70" style="line-height: 2em; font-size: 14px;">
                    {% if error_type == "username" %}
                        <p style="color: red; font-size: 14px;">{{ error }}</p>
                    {% endif %}
                </div>
                <div style="display: flex; flex-direction: column;">
                    Email Address
                    <input type="text" name="email" id="email" placeholder="Email" size="70" style="line-height: 2em; font-size: 14px;">
                    {% if error_type == "email" %}
                        <p style="color: red; font-size: 14px;">{{ error }}</p>
                    {% endif %}
                </div>
                <div style="display: flex; flex-direction: column;">
                    Password
                    <input type="password" name="password" id="password" placeholder="Password" size="70" style="line-height: 2em; font-size: 14px;">
                    {% if error_type == "password" %}
                        <p style="color: red; font-size: 14px;">{{ error }}</p>
                    {% endif %}
                </div>
                <input type="submit" value="Register" style="font-size: 18px; color: white; background: rgb(179,163,105); border: 0; height: 36px; background: linear-gradient(225deg, rgba(179,163,105,1) 9%, rgba(0,48,87,1) 100%);">
            </div>
        </form>
        <div style="height: 120px"></div>
        <div style="width: 100%; display: flex; justify-content: center;">
            Already have an account?&nbsp;<a href="{% url 'auths:login' %}">Login!</a>
        </div>
    </div>
</div>
{% endblock content %}